// Font-Family
$primary-font-family: 'Chakra Petch', sans-serif;

// Colors
$sailor-day-primary: #F7C9F3;
$sailor-night-primary: #EE3EFE;
$input-color:  #ffffff;
$box-shadow: #b4b4b4;
$border: #808080;
$border2: #110038;
$border3:  #979797;
$background-search-bar-day: #e6e6e6;


