@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import "_reset.scss";
@import "_styles_variables.scss";
@import "_sailor_day.scss";
@import "_sailor_night.scss"; 
* { margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    }

body {   
    font-family: $primary-font-family;
}
header {   
    width: max-width; 
    height: 23px;
    box-shadow: 0 1px 0 0 $border2;
    font-size: 23px;
}
header p {   
    font-size: 12px;
    padding: 4px 0px 4px 8px;
    display: flex;
    color: $input-color;
    
    }
.main-content {   
    margin: 40px auto;
    display: flex;
    flex-flow: column wrap;
    max-width: 1200px;
    height: auto;
}
.nav-menu {   
    display: flex;
    justify-content: space-between;
}
.nav-menu #img-logo { 
    height: 64px;
    width: 102px;   
}
.nav-menu-btn {  
    display: flex; 
    margin: 5px 0;
}
.button {
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    padding: 9px 26px 9px 26px;
    margin: 16px 16px 16px 0px;
    
}  
/* empieza menu desplegable*/
#elegir {
    box-sizing: border-box;
    margin: 16px 0px 0px 0px;
    box-sizing: border-box;
    :hover {
        display: block;
        outline: 1px dotted;
        outline-offset: 3px;
      }
}  
#create {
  text-align: center;
  margin-right: 10px;
  width: 144px;
  height: 36px;
  padding: 9px 5px 5px 5px;
}  
#create:hover {
    display: block;
    outline: 1px dotted;
    outline-offset: -6px;
}
#dropdown {
    box-sizing: border-box;
    padding: 9px 13px 9px 13px;
    margin-bottom: 0px;
    margin-left: -4px;
}  
#dropdown span:hover {  
    box-sizing: border-box;
    display: block;
    border: 1px dotted black;
  
}
.button-create-html {
    text-decoration: none;
}  

#choose-list {
    box-sizing: border-box;
    position: absolute;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 102px;
    width: 167px;
    background: $background-search-bar-day;
    box-shadow: inset -2px -2px 0 0 $box-shadow, inset 2px 2px 0 0 $input-color;
    z-index: 1;
}
#choose-list p {
    margin: 0px 10px 10px 10px; 
    padding: 9.8px;
    
    border: 1px solid $border;
    box-shadow: inset -1px -1px 0 0 $box-shadow, inset 1px 1px 0 0 $input-color; 
}  
#choose-list p:hover {
    border: 1px solid #cca6c9;
    box-shadow: inset -1px -1px 0 0 #e6dce4, inset 1px 1px 0 0 $input-color;
    cursor: pointer;    
}
.button-choose-theme {
    display: inline-block;
}    
.button-choose-theme ul ul{
    display: none;
}
.button-choose-theme>ul:hover>ul {
    display:block;
}
/* termina menu desplegable */
.nav-menu-misguifos {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 5px;
    text-decoration: none;
}
.nav-menu-misguifos:hover {
    border: 1px dotted black;
}
.underline {
    text-decoration: underline;
}
.search-bar {
    height: 99px;
    margin: 40px auto;
    width: 1200px;
}
.search-bar .search-bar-sign {
    height: 24px;
    color: $input-color;
    font-weight: bold;
    font-size: 14px;
    font-weight: bold;
    padding: 3px 8px;
    box-shadow: inset -2px 0 0 0 $box-shadow, inset 2px 2px 0 0 $input-color;
}
.search-bar p {
    padding: 3px;
} 
.search-bar .search-bar-input {
    padding: 12px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    :focus{
        outline:0px;
    }
}     
.search-bar .search-bar-input .search-bar-input-place {
    height: 48px;
    width: 1057px;
    border: 1px solid $border3;
    box-shadow: inset -2px -2px 0 0 $background-search-bar-day, inset 2px 2px 0 0 #000000;
    font-size: 16px;
    padding: 0 10px;
}
.search-bar .search-bar-input .search-button {
    width: 91px auto;
    height: 32px;
    margin: auto;
    margin-left: 5px;
    border: 1px solid $border;
    font-size: 16px;
    color: $box-shadow;
    line-height: 18px;
    cursor: pointer;
    padding: 7px 12px 7px 12px;
    display: flex;
    border: 1px solid $border;
    box-shadow: inset -1px -1px 0 0 $box-shadow, inset 1px 1px 0 0 $input-color;
    :focus{
        outline:0px;
    }
}   
/* dropdown*/  
  
.dropdownSearchContent {
   display: none;
    position: absolute;
    height: 160px;
    width: 1200px;
    text-align-last: left;
    vertical-align: middle;
    font-size: 16px;
    color: $border2;
    letter-spacing: 0;
    line-height: 22px;		
    box-shadow: inset -2px -2px 0 0 $box-shadow, inset 2px 2px 0 0 $input-color;
    z-index: 4;
        .auto {
            padding:6px;
            width: 1057px;
            height: 36px;
            display: block;
            margin-left: 15px;
            margin-right: 128px;
            margin-top: 11px;
            position: relative;
            border: 1px solid $border;
            box-shadow: inset -1px -1px 0 0 $box-shadow, inset 1px 1px 0 0 $input-color;
            font-weight: 300;
            font-size: 16px;
            color: $border2;
            letter-spacing: 0;
            text-align: center;
            line-height: 22px;
            cursor: pointer;
        }
        .auto:first-child {
            margin-top: 17px;
            margin-bottom: 11px;
        }
        .auto:hover{
            outline: 1px dotted $border2;
            outline-offset: -5px;
    }}

.btnSearchResults {
            position: relative;
            display: inline-flex;
            justify-items: flex-start;
            margin-top: 12px;
            #example, #example1, #example2 {						
                position: relative;
                display: inline-flex;
                justify-items: flex-start;
                height: 34px;
                width: fit-content;
                margin-left: 8px;
                font-family: $primary-font-family;
                padding: 8px 7px;
                font-size: 14px;
                letter-spacing: 0;
                line-height: 18px;
                background: #4180F6;
                border: 1px solid #4c2f99;
                box-shadow: inset -2px -2px 0 0 #284f99, inset 2px 2px 0 0 $input-color;
                text-decoration: none;
                color: $input-color;
                pointer-events: none;
            }					
}
/* fin dropdown*/ 
/* SUGGESTED GIFS*/ 
.suggested-title {
    margin: 19px 0;
    padding: 7px;
    width: 100%;
    background: #fffafe;
    border: 1px solid $border;
}
#suggested-input{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-around;
    column-gap: 1px;
    height: 323px;
    width: 100%; 
}
.suggestedDiv { 
        width: 280px;
        height: 313px;
        justify-content: space-between;
        .suggested-button {
            padding: 8px 12px; 
            box-sizing: border-box;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            cursor: pointer;
            padding: 9px 26px 9px 26px;
            margin: 16px 16px 16px 0px;
            transform: translate(10%, -200%);
          }
        .suggested-button:hover{                
            outline: 1px dotted $border2;
            outline-offset: -5px;
            background: #3A72DB;
            border: 1px solid #4C2F99;
            box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 $input-color;
          }  
    }     
.item3{
        padding: 4px;
        height: 296px;
        width: 100%;
        position: relative;
        margin: -18px 3px 0px 0px;
        object-fit: cover;}  
.headergif{
        position: relative;  
        height: 24px;
        width: 100%;
        padding-left: 8px;
        padding-top: 3px;
        box-shadow: inset -2px -2px 0 0 $box-shadow, inset 2px 2px 0 0 $input-color;
        color: $input-color;
        font-weight: 600;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-right: 30px;    }  
.button3{
            position: relative;
            background-position: left;
            padding-left: 270px;             
            left:-11px;
            bottom: 20px;
           }
           
/* TRENDIG GIFS*/ 
#bringtrending {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 1px;
    column-gap: 14px;
    height: auto;
    width: 100%;
        :nth-child(2){
            grid-column: 2/4;
            }
        :nth-child(9){
            grid-column: 2/4;
            }
        :nth-child(16){
                grid-column: 2/4;
                }   
        .item2{
                    padding: 4px;
                    height: 298px;
                    width: 100%;
                    position: relative;
                    margin: 0px 6px 0px 6px;
                    object-fit: cover;
                }
        .headergifTrending{
          display: block;
          position: relative;  
          height: 24px;
          width: 99%;
          margin-left: 8px;
          padding-top: 3px;
          box-shadow: inset -2px -2px 0 0 #284f99, inset 2px 2px 0 0 $input-color;
          color: $input-color;
          font-weight: 600;
          overflow: hidden;
          text-overflow: ellipsis;
          margin-right: 30px; 
          top: -30px;
          z-index: 5;    
         &:hover {
            display: none;
 }}
 
}

/* GIFOS TRAIDOS CON BUSCAR*/
.bringresults {
    display: none;
}
.results{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 16px;
    column-gap: 14px;
    height: auto;
    width: 100%;
    :nth-child(2){
        grid-column: 2/4;
        }
    :nth-child(9){
        grid-column: 2/4;
        }
    :nth-child(16){
            grid-column: 2/4;
            }   
        .item {
                padding: 4px;
                height: 298px;
                width: 100%;
                position: relative;
                margin: 0px 6px 0px 6px;
                object-fit: cover;
            }
}
.gif {
    padding: 4px;
    height: 100%;
    height: 300px;
    width: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
  }
.gif img {
    width: 100%;
    height: 100%;
    border: 1px solid transparent;
  }
.headerSearch{
    display: block;
    position: relative;  
    height: 24px;
    width: 99%;
    padding-top: 3px;
    box-shadow: inset -2px -2px 0 0 #284f99, inset 2px 2px 0 0 $input-color;
    color: $input-color;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 30px; 
    top: -30px;
    z-index: 5; }   
.headerSearch:hover  {
   display: none;
}
/* HOJA "CREATE" */
.arrow {
    margin: 0 20px 10px 0;
}   /* panel instrucciones*/
.create-gifos-p{
    color:$input-color;
    margin: 0px 1px 0px 1px;
    font-weight: bolder;
    padding: 3.4px 5px 2.6px 4px;
    background-image: linear-gradient(270deg, $sailor-day-primary 0%, #4180f6 100%);
    height: 24px;
    width: 682px;
}
.create-gifos-panel{
    margin: 40px auto;
    width: 684px;
    height: 386px;
    background: $background-search-bar-day;
    box-shadow: inset -2px -2px 0 0 $box-shadow, inset 2px 2px 0 0 $input-color;
    font-size: 14px;

}  
.create-gifos-alert{
    padding: 15px;
    display: flex;    
}
.window-img, .subtitle-window {
    padding: 4px 0px 0px 10px;
    text-align: center;
}
.create-gifos-title {
    padding: 5px 0px 0px 16px;
    text-align: left;
    font-weight: bolder;
}
.create-gifos-items {
    margin: 17px 0px 0px 17px;
    height: 190px;
    width: 518px;
    line-height: 20px;
   .black {
        font-weight: bolder;
    }
}
.create-gifos-items-bold  {
    font-style: italic;
    font-weight: bolder;
}
.create-gifos-buttons {
    display: flex;
    margin: 30px -30px 16px 1px;
    float: right;
    font-family: "Chakra Petch", sans-serif;
    font-size: 16px;
    :focus{
        outline:0px;
    }
    .cancel {
        width: 144px;
        height: 36px;
        margin-right: 16px;
        padding: 9px 39.5px;
        background: #fff4fd;
        border: 1px solid $border2;
        box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 $input-color;
    }
    .cancel:hover {
        background: rgb(236, 222, 233);
    }
    .confirm {
        width: 144px;
        height: 36px;
        padding: 9px 35px;
        cursor: pointer;
        background: $sailor-day-primary;
        border: 1px solid $border2;
        box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 $input-color;
      }
    .confirm:hover {
        background: rgb(223, 181, 219);
      }
}
/* panel video*/
.upload {
    background: #f7c9f3;
    border: 1px solid $border2;
    box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 $input-color;
}
.repeat {
    background: #fff4fd;
    border: 1px solid $border2;
    box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 $input-color;
    margin-right: 10px;
  }
#timer {
    display: none;
    align-self: center;
    background-color: $input-color;
    border: 1px solid $border3;
    box-shadow: inset -2px -2px 0 0 $background-search-bar-day, inset 2px 2px 0 0 #000000;
    padding: 8px;
    float: left;
    margin-left: 4px;
  }

.push {
    margin-left: auto;
}
  
.confirm:hover {
    background: rgb(223, 181, 219);
  }
  
.video-recording {
    display: none;
    margin: 10px auto;
}
.record-gifos-panel-sec {
    display: none;
    margin: 40px auto;
    width: 860px;
    height: 548px;
    background: $background-search-bar-day;
    box-shadow: inset -2px -2px 0 0 $box-shadow, inset 2px 2px 0 0 $input-color;
    font-size: 14px;
}   
.record-gifos-p{
    color:$input-color;
    margin: 0px 1px 0px 1px;
    font-weight: bolder;
    padding: 3.4px 5px 2.6px 4px;
    background-image: linear-gradient(270deg, $sailor-day-primary 0%, #4180f6 100%);
    height: 24px;
    width: 854px;
}
.close {
    float: right;
    margin-top: 1px;
}
.video-gifos-panel {
        padding: 2px 10px;
        width: 832px;
        height: 438px;
      }
    #video{
        padding: 1px;
        width: 100%;
        height: 434px;
        object-fit: fill;
        background-color: $box-shadow;
        border: 1px solid $border3;
        box-shadow: inset -2px -2px 0 0 $background-search-bar-day, inset 2px 2px 0 0 #000000;
    }
    .capture-button {
        margin: 0 5px 5px 0;
        padding: 5px 5px;
        :focus{
            outline:0px;
        }
    }
    .capture-button button {
        width: fit-content;
        float: right;
    }
    .capture-button span {
        padding: 3px;
        vertical-align: middle;
    }
.capture-gif-button {
        width: 144px;
        height: 36px;
        font-family: "Chakra Petch", sans-serif;
        font-size: 16px;
        padding: 4px;
        margin-top: 24px;
        cursor: pointer;
        letter-spacing: 0;
        background-color: $sailor-day-primary;
        border: 1px solid $border2;
        :focus{
            outline:0px;
        }
        
}
.gif-preview-container {
    display: none;
  }
  
.gif-preview-container img {
    width: 100%;
    height: 50vh;
  }
  
.confirm {
    background: #f7c9f3;
    border: 1px solid $border2;
    box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 $input-color;
    margin-bottom: 12px;
}
.camera-button, .capture-button span {
            padding: 3px;
            vertical-align: middle;
            :focus{
                outline:0px;
            }    
}
.btns-upload-gif {
    display: none;
  }
.stop {
        display: none;
        color: $input-color;
        background: #ff6161;
        border: 1px solid $border2;
        box-shadow: inset -1px -1px 0 0 #993a3a, inset 1px 1px 0 0 $input-color;
        margin-bottom: 12px;
      }
.buffer {
        margin: 0 3px;
        padding: 3px;
        background: $box-shadow;
        box-shadow: inset 2px 2px 0 0 #000000, inset -2px -2px 0 0 #fffcfc;
        align-self: center;
        display: flex;
      }
.buffer-bar {
        display: flex;
        padding: 0 20px;
        align-self: center;
      }

.buffer-bar-item {
        width: 15px;
        height: 16px;
        background: #999999;
      }
      
.buffer-bar-item-active {
        background: #f7c9f3;
      }
      
.buffer-bar-item:not(:last-child) {
        border-right: 2px solid $box-shadow;
      }
#mygifos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(auto, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
      }
#mygifos img {
        background-color: rgba(128, 128, 128, 0.082);
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 300px;
      }
      
#savedgifos {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(auto, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
      }
      
#savedgifos img {
        background-color: rgba(128, 128, 128, 0.082);
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 300px;
      }
    

.alert-gif {
        width: 700px;
        height: fit-content;
        position: fixed;
        z-index: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: $background-search-bar-day;
        border: 1px solid $input-color;
      }
      
.alert-gif .title-modal {
        font-size: 0.9rem;
        font-weight: bolder;
        padding: 2px 5px;
        color: $input-color;
        background-image: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
      }
      
.alert-gif .content-modal {
        display: flex;
      }
      
.alert-gif .gif-modal-btns {
        margin: 0 auto;
        width: 35%;
        align-self: center;
      }
      
.alert-gif .gif-modal-btns button {
        font-family: "Chakra Petch", sans-serif;
        font-size: 16px;
        padding: 10px 20px;
        background: #fff4fd;
        border: 1px solid $border2;
        box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 $input-color;
        display: block;
        width: 100%;
        margin: 10px 0;
      }
      
.alert-gif .gif-modal {
        background: $input-color;
        border: 1px solid $border3;
        width: 60%;
        height: 200px;
        margin: 8px;
        padding: 2px;
}
      
 
.uploading-gif {
    background: $input-color;
    border: 1px solid $border3;
    box-shadow: inset -2px -2px 0 0 $background-search-bar-day, inset 2px 2px 0 0 #000000;
    text-align: center;
    height: 300px;
  }
  
.uploading-gif img {
    margin-top: 80px;
    width: 30px;
    height: auto;
  }
  
.uploading-gif-title {
    font-family: "Chakra Petch", sans-serif;
    font-size: 0.9rem;
    font-weight: bolder;
    color: $border2;
    letter-spacing: 0;
    text-align: center;
    line-height: 22px;
  }
  
  .uploading-gif .buffer {
    margin: 0 auto;
    width: 40%;
    margin-top: 25px;
  }
  
  .uploading-gif .time-left {
    color: rgba(17, 0, 56, 0.64);
    font-size: 15px;
  }     

  
.progress-bar {
    margin: 0 auto;
    height: 30px;
    width: 250px;
    position: relative;
    overflow: hidden;
    display: none;
  }
  
.progress-bar ul {
    padding: 4px;
    position: absolute;
  }
  
.progress-bar ul li {
    list-style-type: none;
    height: 20px;
    width: 12px;
    background-color: #f7c9f3;
    border: 1px solid $border2;
    display: none;
    box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
  }
  


  